@font-face {
    font-family: 'Inter';
    src: url('fonts/inter/Inter-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('fonts/inter/Inter-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('fonts/inter/Inter-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('fonts/inter/Inter-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('fonts/inter/Inter-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('fonts/inter/Inter-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('fonts/inter/Inter-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('fonts/inter/Inter-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('fonts/inter/Inter-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    color: #303030;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    font-family: "Inter", sans-serif;
    color: #fff;
}

.wrapper {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    padding: 30px 0;
    display: flex;
}

@media (min-width:768px) {
    .wrapper {
        height: 50rem;
        width: 25rem;
        border-radius: 40px;
        border: 10px solid #303030;
    }
}

.wrapper .screen {
    flex: 1;
    min-width: 100%;
}

.screen-backdrop {
    width: 135%;
    height: 25rem;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: -1;
    transform: translate(-50%);
    border-radius: 0 0 0 50%;
    background-color: #1E1D32;
}

.head-wrapper {
    padding: 0 30px;
}

.menu-btn {
    display: inline;
    font-size: 2rem;
    cursor: pointer;
    color: white;
}

.welcome {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.welcome h1 {
    font-size: 1.5rem;
}

.welcome p {
    font-weight: 500;
}

.welcome .img {
    position: relative;
}

.welcome .img img {
    width: 5rem;
}

.welcome .img .backdrop {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 3.8rem;
    height: 4rem;
    border-radius: 50%;
    background-color: #f6f4e4;
    z-index: -1;
}

.categories-wrapper {
    margin-top: 1rem;
    height: calc(100% - 8rem);
    padding: 0 30px;
}
